.Location{
    padding:0 15%;
    height:90vh;
    @apply flex flex-col items-center justify-evenly mt-28;
}
.Location>h3{
    color:#DA5353;
    font-size:clamp(0px,3vw,40px)
}

.Map{
    width:100%;
    height:70vh;
    @apply rounded-2xl;
}
