.SingleOrder_Item{
    
    @apply flex justify-center gap-2 mt-2 items-center ;
}
.SingleOrder_Item>img{
   width:50px;
   height:50px;
   @apply rounded-sm;
}
.SingleOrder_Item_text{
 
    font-weight:600;
    @apply flex flex-col items-start w-8/12 ;
}
.SingleOrder_Item_text>div>h3{
 
    font-size:clamp(0px,1.8vw,15px);
    
}
.SingleOrder_Item_text>div>.Ic>img{
    width:clamp(0px,1.2vw,10px); 
    height:clamp(0px,1.2vw,10px);
    
    }

.SingleOrder_Item_text>p{
    font-weight:400;
    font-size:10px;
    color:#4B4B4B;
    
}
.SingleOrder_Item_text_Unit{
    font-size:10px;
    @apply w-full flex justify-between text-gray-600;
}


@media(max-width:950px){
    .SingleOrder_Item>img{
        width: clamp(0px,12vw,50px);
        height: clamp(0px,12vw,50px);
       
    }
    .SingleOrder_Item_text{
     
        font-weight:600;
    }
    .SingleOrder_Item_text>div>h3{
     
        font-size:clamp(5px,5vw,12px);
        
    }
    .SingleOrder_Item_text>div>.Ic>img{
        width:clamp(0px,2vw,10px); 
        height:clamp(0px,2vw,10px);
        
        }
    .SingleOrder_Item_text>p{
        font-weight:400;
        font-size:clamp(px,2vw,10px);
        color:#4B4B4B;
        
    }
    .SingleOrder_Item_text_Unit{
        font-size:clamp(4px,3vw,10px);
    }
}
